<table *ngIf="tableBody.length > 0" class="table table-striped">
    <tbody>
        <tr
            *ngFor="let body of tableBody | slice: (tableConfig.page-1) * tableConfig.pageSize : (tableConfig.page-1) * tableConfig.pageSize + tableConfig.pageSize; index as i">
            <td title="Click here to see the city on map"  (click)="onRowClick(body['Cities'])">{{body['Cities']}}</td>
        </tr>
    </tbody>
</table>
<ngb-pagination class="pagination" *ngIf="tableBody.length > 0" [collectionSize]="tableBody.length" [maxSize]="4" [(page)]="tableConfig.page"
        [pageSize]="tableConfig.pageSize" >
    </ngb-pagination>